@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/EuclidSquare-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EuclidBold';
  src: url('./assets/fonts/EuclidSquare-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply the custom font to the body */
body {
  font-family: 'Euclid', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
